# Dependencies
node_modules
package-lock.json
yarn.lock

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
.env
.env.*
!.env.example

# Testing
coverage 